.taskContainer {
	width: 968px;
	margin: auto;
	background-color: rgb(245, 239, 242);
}

.backing {
	margin-left: 40px;
}

.taskOne {
	background-color: rgb(222, 240, 220);
}

.taskTwo {
	background-color: rgb(238, 220, 250);
}

.taskThree {
	background-color: rgb(210, 240, 234);
}