.taskContainer {
	width: 968px;
	margin: auto;
	background-color: rgb(239, 239, 239);
}

.backing {
	border: 1px solid rgb(190, 190, 190);
	margin: 20px 40px;
	border-radius: 5px;
	background-color: rgb(221, 219, 223);
}

.list-of-numbers {
  width: 40px;
}

.centered {
  text-align: center;
}

.pyramid-message {
	visibility: hidden;
}
.piramid-message-visible {
	visibility: visible;
}